{% extends "base.html.twig" %}

{% block title %}Page d'accueil {% endblock %}

{% block body %}

<div class="container">
    <h1> Bienvenue sur Marmitonne!</h1>

    {% for recette in recettes %}
    <div class="card mb-3" style="max-width: 800px;">
  <div class="row no-gutters">
    <div class="col-md-4">
    {% if recette.imageName %}
      <img src="{{ vich_uploader_asset(recette, 'imageFile') }}" class="card-img" alt="image recette">
    {% else %}
      <img src="{{ asset('img/recettes/image-not-found.jpg') }}" class="card-img" alt="image recette">
    {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ recette.titre }}</h5>
        <p class="card-text">{{ recette.resume }}</p>
        <a href="{{ path('recette_show', {id: recette.id}) }}" class="btn btn-primary">Voir la recette</a>
        <p class="card-text"><small class="text-muted">{{ recette.createdAt|format_datetime() }}</small></p>
      </div>
    </div>
  </div> 
</div>
    {% endfor %}

</div>

{% endblock %}